.InfoContainer {
    background-color: white;
    padding: 2rem;
}

.InfoContainer__buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.InfoContainer__buttonsContainer__displayButtonsContainer {
    margin-bottom: 1.5rem;
}

.ListsContainer {
    display: inline-block;
    
}