.MovieCard {
    display: flex;
    margin-bottom: 1rem;
}

.MovieCard--grid {
    border: 1px solid black;
    border-radius: 5px;
    max-height: 100%;
}

.MovieCard__image {
    margin-right: 1rem;
    width: 100px;
    max-height: 158.31px;
}

.MovieCard__image--grid {
    width: 100%;
    max-height: unset;
    margin-right: unset;
}

.MovieCard__info--grid {
    padding: 1rem;
}

.MovieCard__title {
}

.MovieCard__title--grid {
    height: 10%;
    margin: 0;
    margin-bottom: 0.5rem;
}

.MovieCard__yearAndDuration {
}

.MovieCard__yearAndDuration--grid {
    margin: 0;
    margin-bottom: 0.5rem;
}

.MovieCard__ratingAndVoters {
}

.MovieCard__ratingAndVoters--grid {
    margin: 0;
    margin-bottom: 0.5rem;
}